<div class="container">
  <h1>InventoFlex</h1>
  <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="grid" routerLink="/fornecedores">
          <img class="icones" src="assets/imagens/fornecedor.png" alt="Imagem do Fornecedor">
          <p>Fornecedores</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid" routerLink="/produtos">
          <img class="icones" src="assets/imagens/produto.png" alt="Imagem do Produto">
          <p>Produtos</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid" routerLink="/categorias">
          <img class="icones" src="assets/imagens/categoria.png" alt="Imagem do Produto">
          <p>Categorias</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid" routerLink="./movimentacao/adicionar">
          <img class="icones" src="assets/imagens/movimentacao.png" alt="Imagem do Produto">
          <p>Movimentação de Itens</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>
